/node_modules
/logs/
.env
.history/
/src/swagger.yaml
/coverage
/src/services/recommendations/books/__pycache__
/src/services/recommendations/movies/__pycache__
/src/services/recommendations/movies/moviesPool/__pycache__ 